nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  @media (max-width: 400px) {
    display: none;
  }

  .brand {
    padding-bottom: 16px;
    margin-bottom: 24px;
    border-bottom: 2px solid #e9e9eb;
  }

  .link {
    margin: 0 0 24px;
    padding: 1.14rem;
    transition: ease-in-out all 0.2s;

    &:hover {
      background: rgba(234, 234, 234, 0.4);
      border-radius: 18px;
    }

    &:hover path {
      fill-opacity: 1;
    }
  }

  .active {
    background: #eaeaea;
    border-radius: 18px;
  }

  .spacer {
    flex: 1;
  }

  .profile-container {
    margin-bottom: 3rem;
    padding: 24px 8px 0px;
    border-top: 2px solid #e9e9eb;

    .profile {
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
      border: 4px solid #2ce3a0;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        object-fit: contain;
        border-radius: 50%;
      }
    }
  }
}

.icon:hover {
  fill: #272727;
}
