.dashboard-layout {
  background: #F3F5F7;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;

  aside {
    background: white;
    padding: 10px;
  }

  main {
    margin: 1.5rem 1.71rem 2rem;
  }
}
